<nav class="navbar navbar-expand-md navbar navbar-dark" style="z-index: 10;position: fixed;">
        <a href="#"><button type="button" class=" btn-lg btn-outline-light fa fa-home"
             style="margin-right: 5px" aria-hidden="true"></button></a>
    <a href="#" class="navbar-brand">Mentor On Demand</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        

       

        <form class="form-inline ml-auto">
                    <a href="#about"><button type="button" class=" btn-lg btn-outline-light fa fa-user" 
                         style="margin-right: 5px" aria-hidden="true"></button></a>    
            <a routerLink='/loginuser'><button type="button" class=" btn-lg btn-outline-light fa fa-sign-in"  style="color:white;" aria-hidden="true"></button></a>

        </form>
    </div>
</nav>
      <!--==========================
            Intro Section
          ============================-->
      <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
          <div class="row justify-content-center align-self-center">
            <div class="col-md-8  intro-info order-md-first order-last">
              <h2 style="color: white">Wanna Learn using the network??<span style="color: white"><br/>Then you have got a great platform..</span></h2>
              
            </div>
      
          </div>
      
        </div>
      </section>
      <main id="main">
      
       
        <section id="about">
      
          <div class="container">
            <div class="row">
      
              <div class="col-lg-5 col-md-6">
                <div class="about-img">
                  <img src="../../assets/images/team-1.jpg" alt="">
                </div>
              </div>
      
              <div class="col-lg-7 col-md-6">
                <div class="about-content">
                  <h2>About Us</h2>
                  <h3>Enjoy learning and become an expert!!</h3>
                  <p>We give online training and learning management software which makes an impact,
                    whether that change individual behaviour or upskilling a workforce of thousands.</p>
                  <p>This new website works with an updated version of our Enable Learning Management System (LMS) - giving
                    you a better experience when you take your training or give courses to other learners.
      
                    If you’ve bought from us in the past and want to access previous training, you can still login via the
                    login button at the top of the website. 
      
                    Please bear with us through the transition. </p>
                  <ul>
                    <li><i class="ion-android-checkmark-circle"></i>Limited Seats
                    </li>
                    <li><i class="ion-android-checkmark-circle"></i> Exclusive teaching
                      </li>
                    <li><i class="ion-android-checkmark-circle"></i>Great materials</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      
        </section>
      
      </main>
      
      <footer id="footer" class="section-bg">
        <div class="footer-top">
          <div class="container">
      
            <div class="row">
      
              <div class="col-lg-6">
      
                <div class="row">
      
                  <div class="col-sm-6">
      
                    <div class="footer-links">
                      <h2>Contact Us</h2>
                      <p>
                        A108 Perungudi <br>
                       Chennai, 600002<br>
                        India <br>
                        <strong>Phone:</strong> +9090909090<br>
                        <strong>Email:</strong> edunet@example.com<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong>Cognizant</strong>. All Rights Reserved
          </div>
          <div class="credits">
      
          </div>
        </div>
      </footer>
      
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
      