.container-fluid{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: auto;
    margin-top: 50px;
    margin-bottom: auto;
    width: 800px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    
    
    .card-header h4{
    color: white;
text-align: center;
    }
    
   
   
    
   