
<div class="container-fluid pl-0 pr-0" >
    <div>
            
                    
                           
                    
        <nav class="navbar navbar-expand-md navbar navbar-dark" style="z-index: 10;position: fixed;">
                <a routerLink='/usermenu'><button type="button" class=" btn-lg btn-outline-light fa fa-home"
                     style="margin-right: 5px" aria-hidden="true"></button></a>
            <a href="#" class="navbar-brand">Mentor On Demand</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                

               

                <form class="form-inline ml-auto">
                    <a routerLink='/usermenu'><button type="button" class=" btn-lg btn-outline-light fa fa-bell" data-toggle="modal"
                            data-target="#myModal" style="margin-right: 5px" aria-hidden="true"></button></a>
                            <a routerLink='/userprofile'><button type="button" class=" btn-lg btn-outline-light fa fa-user" 
                                 style="margin-right: 5px" aria-hidden="true"></button></a>    
                    <a routerLink='/loginuser'><button type="button" class=" btn-lg btn-outline-light fa fa-sign-out"  style="color:white;" aria-hidden="true"></button></a>

                </form>
            </div>
        </nav>
    </div>
    <!-------Nav End-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-center">Notifications</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    No Notifications
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 ">
            </div>
            <div class="col-md-8 text-center">
                <a [routerLink]="['searchtraining']"><button type="button" class="btn btn-info"
                        style="padding: 15px;margin-right: 15px;margin-top: 70px" id="btnSearchTrainings">Search
                        Trainings</button></a>
                <a [routerLink]="['currenttraining']"><button type="button" class="btn btn-info"
                    style="padding: 15px;margin-right: 15px;margin-top: 70px" id="btnCurrentTrainings">Current
                    Trainings</button></a>
              <a [routerLink]="['completedtraining']">  <button type="button" class="btn btn-info"
                    style="padding: 15px;margin-right: 15px;margin-top:70px" id="btnCompletedTrainings">Completed
                    Trainings</button></a>
                    <a [routerLink]="['userrequest']">  <button type="button" class="btn btn-info"
                        style="padding: 15px;margin-right: 15px;margin-top:70px" id="btnuserrequest">Requests
                        </button></a>   

              </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
    <div style="height: 500px;width: 100%;">
    <router-outlet></router-outlet>
</div>  
</div>
<app-footer></app-footer>