            <div class="container-fluid pl-0 pr-0">
                <div>
                        <nav class="navbar navbar-expand-md navbar navbar-dark" style="z-index: 10;position: fixed;">
                                <a routerLink='/adminmenu'><button type="button" class=" btn-lg btn-outline-light fa fa-home"
                                     style="margin-right: 5px" aria-hidden="true"></button></a>
                            <a href="#" class="navbar-brand">Mentor On Demand</a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                
                
                               
                
                                <form class="form-inline ml-auto">
                                    <a routerLink='/adminmenu'><button type="button" class=" btn-lg btn-outline-light fa fa-bell" data-toggle="modal"
                                            data-target="#myModal" style="margin-right: 5px" aria-hidden="true"></button></a>
                                              
                                    <a routerLink='/index'><button type="button" class=" btn-lg btn-outline-light fa fa-sign-out"  style="color:white;" aria-hidden="true"></button></a>
                
                                </form>
                            </div>
                        </nav>
                </div>
            <!-------Nav End-->
    
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title text-center">Notifications</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                      No Notifications
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
              <div class="container-fluid">
          <div class="row">
                  <div class="col-md-2 ">    
                  </div>
                  <div class="col-md-8 text-center">
                   <a [routerLink]="['adminadd']"><button type="button" class=" btn btn-info" style="padding: 15px;margin-right: 15px;margin-top: 70px" id="btnAddRemove">Add/Remove Technology</button></a>
                   <a [routerLink]="['adminblock']"><button type="button" class="btn btn-info" style="padding: 15px;margin-right: 15px;margin-top: 70px" id="btnBlockUser">Block User/Mentors</button></a>
                    <a [routerLink]="['adminmanagepayments']"><button type="button" class=" btn btn-info"style="padding: 15px;margin-right: 15px;margin-top:70px" id="btnPayment">Manage Payments</button></a>
                  </div>
                  <div class="col-md-2">
                  </div>
          </div>  </div>
          <div style="height: 500px;width: 100%;">
                <router-outlet></router-outlet>
            </div> 
    </div> 
    <app-footer></app-footer>