<div class="container-fluid pl-0 pr-0">
    <div>
        <nav class="navbar navbar-expand-md navbar navbar-dark" style="z-index: 10;position: fixed;">
            <a routerLink='/usermenu'><button type="button" class=" btn-lg btn-outline-light fa fa-home"
                    style="margin-right: 5px" aria-hidden="true"></button></a>
            <a href="#" class="navbar-brand">Mentor On Demand</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="form-inline ml-auto">
                    <a routerLink='/usermenu'><button type="button" class=" btn-lg btn-outline-light fa fa-bell"
                            data-toggle="modal" data-target="#myModal" style="margin-right: 5px"
                            aria-hidden="true"></button></a>
                    <a routerLink='/userprofile'><button type="button" class=" btn-lg btn-outline-light fa fa-user"
                            style="margin-right: 5px" aria-hidden="true"></button></a>
                    <a routerLink='/index'><button type="button" class=" btn-lg btn-outline-light fa fa-sign-out"
                            style="color:white;" aria-hidden="true"></button></a>

                </form>
            </div>
        </nav>
        <div class="container-fluid py-3">
            <div class="row py-5">
                <div class="col-sm-4">

                    


                </div>
                <div class="col-sm-8">
                    <div class="card" style="width:50%">
                        <div class="card-body">
                            <h3 class="card-title text-center" style="color: white">Payment</h3>
                            <div class="form-row">
                                <div class="form-group col">
                                    <!-- [formGroup]="Payment" -->
                                    <form class="form-Payment" autocomplete="off" [formGroup]="PaymentForm"
                                        (submit)="onSubmit()">

                                        <div class="form-row">
                                            <div class="form-group col required">
                                                <input class="form-control" formControlName="Name"
                                                    placeholder="Name on Card" required>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('Name').touched && PaymentForm.get('Name').errors?.required">This
                                                    field is mandatory</small>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('Name').touched && PaymentForm.get('Name').errors?.pattern">Invalid</small>

                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col required">
                                                <input class="form-control" placeholder="Valid Card Number"
                                                    formControlName="Card" required>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('Card').touched && PaymentForm.get('Card').errors?.required">This
                                                    field is mandatory</small>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('Card').touched && PaymentForm.get('Card').errors?.pattern">Invalid</small>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col required">
                                                <input class="form-control" placeholder="MM" formControlName="mm"
                                                    required>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('mm').touched && PaymentForm.get('mm').errors?.required">This
                                                    field is mandatory</small>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('mm').touched && PaymentForm.get('mm').errors?.pattern">Invalid</small>

                                            </div>

                                            <div class="form-group col required">
                                                <input class="form-control" placeholder="YY" formControlName="yy"
                                                    required>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('yy').touched && PaymentForm.get('yy').errors?.required">This
                                                    field is mandatory</small>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('yy').touched && PaymentForm.get('yy').errors?.pattern">Invalid</small>

                                            </div>

                                            <div class="form-group col required">
                                                <input class="form-control" formControlName="cv" placeholder="CV CODE"
                                                    required>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('cv').touched && PaymentForm.get('cv').errors?.required">This
                                                    field is mandatory</small>
                                                <small class="text-danger"
                                                    *ngIf="PaymentForm.get('cv').touched && PaymentForm.get('cv').errors?.pattern">Invalid</small>
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col required">
                                                <button class="btn btn-lg btn-info btn-block"
                                                    [disabled]="!PaymentForm.valid">Pay</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div *ngIf="skillData">

                                            <h5 class="card-title" style="color: white">Your Cart</h5>
                                            <h6 class="card-subtitle mb-2 " style="color: white">Technology -
                                                {{skillData[0].name}}
                                                <br>
                                                Prerequisites - {{skillData[0].prerequisites}}
                                            </h6>
                                            <p class="card-text" style="color: white">Fees - &#8377;
                                                <strong>{{skillData[0].fees}}</strong></p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>