<div class="container-fluid">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                        <h4>Completed Trainings</h4>
                    
                </div>
                <div class="card-body">
<div class="row" id="divCom" style="z-index: -100000;">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 text-center">
        <div class="table-responsive"> 
                
                  <table class="table table-striped">
        <thead style="color: white">
            <tr>
              
                    <th>Technology</th>
                    <th>Username</th>
                    <th>End Date</th>
                    <th>Progress</th>
               
            </tr>
        </thead>
        <tbody style="color: white">
           
                <tr *ngFor="let i of myTrainings">
                        <td>{{i.skillname}}</td>
                        <td>{{i.userName}}</td>
                        <td>{{i.endDate | date: 'dd/MM/yyyy'}}</td>
                        <!-- <td>{{i.timeSlot}}</td> -->
                        <td *ngIf="i.progress!=undefined">
                          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">
                              {{i.progress}} %
                          </div>
                        </td>
                        <td *ngIf="i.progress==undefined">
                            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 100%">
                                Pending
                            </div>
                        </td>
                    </tr>
               
        </tbody>
    </table>
            </div>
             <div class="col-md-2">

            </div>
            </div>
</div></div>

</div></div></div>