<div class="container-fluid">
    <div class="d-flex justify-content-center h-100 py-5">


        <div class="card my-5" style="margin-left:10px;">
            <form>
                <img src="../../assets/images/login.png" class="card-img-top"
                    style="height: 130px ;width:150px;margin-left:45px;margin-top:40px;" alt="...">
                <div class="card-body text-center">
            <a [routerLink]="['/loginuser']" class="btn btn-info login_btn">Login</a>
                 
                </div>
            </form>
        </div>   
    </div>
</div>