<div class="container-fluid">
                <div class="d-flex justify-content-center h-100">
                    <div class="card">
                        <div class="card-header">
                                        <h4>Payment Management</h4>
                            
                        </div>
                        <div class="card-body">
<div class="row" id="divPay" style="z-index: -100000;">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 text-center">
        <div class="table-responsive"> 
                
                  <table class="table">
        <thead style="color: white">
            <tr>
              
                        <th>Technologhy</th>
                        <th>Status</th>
                        <th>Payment Details</th>
               
            </tr>
        </thead>
        <tbody style="color: white">
            
                        <tr *ngFor="let i of myPayRecord">
                                        <td>{{i.skillName}}</td>
                                        <!-- <td></td> -->
                                        <td><strong style="color: green"> Paid : {{i.fees}}</strong></td>
                                        <td>
                                        <button type="button" class="btn btn-info" 
                                         data-toggle="modal" data-target="#myMod" (click)="getDetails(i.id)">
                                            See Details
                                        </button>
                                        </td>
                                    </tr>
        </tbody>
    </table>
            </div>
            <div id="myMod" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                      
                          <!-- Modal content-->
                          <div *ngIf="myPayRecord"class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Payment Recipt</h4>
                            </div>
                          <div class="modal-body" *ngFor="let i of myPayRecord" style="text-align: left">
                            <h6>Training -<span style="color:green">  {{i.skillName}}</span></h6>
                            <hr>
                              <h6 *ngIf="i.PaymentStatus">Payment Status - <span style="color:green">Confirmed</span></h6>
                              <hr>
                              <h6>Amount Paid -<span style="color:green">&#8377;{{i.fees}}</span> </h6>
                              <h6 *ngIf="userData">By {{userData.userName}} </h6>
                              <h6 *ngIf="userData">{{userData.email}} </h6>
                            
                          </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                      
                        </div>
                      </div>
                      <div class="row" style="text-align: center" *ngIf="show">
                                <div class="col-md-12">
                                    <div style="margin-top: 10px">
                                    <h4>No Records Found</h4>
                                    <img src="../../assets/images/users-18-512.png">
                                    </div>
                        </div>
                        </div>
            <div class="col-md-2">

            </div>
            </div>
</div>  </div></div></div></div>